In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("data/math500_result.csv")
df = df[['answer', 'naive_answer', 'power_answer', 'power_acceptance_ratio']]

In [6]:
df[df['answer']==df['naive_answer']]

           answer  naive_answer  power_answer  power_acceptance_ratio
1           p - q         p - q         p - q                0.066667
2    \frac{14}{3}  \frac{14}{3}  \frac{14}{3}                0.266667
3               9             9             9                0.100000
5              42            42            42                0.000000
6              27            27            27                0.100000
..            ...           ...           ...                     ...
493            20            20            17                0.100000
494   \frac{1}{4}   \frac{1}{4}             1                0.000000
496  \frac{5}{13}  \frac{5}{13}  \frac{5}{13}                0.100000
498            -1            -1             1                0.020000
499     106^\circ     106^\circ           106                0.000000

[291 rows x 4 columns]

In [7]:
df[df['answer']==df['power_answer']]

           answer  naive_answer  power_answer  power_acceptance_ratio
1           p - q         p - q         p - q                0.066667
2    \frac{14}{3}  \frac{14}{3}  \frac{14}{3}                0.266667
3               9             9             9                0.100000
5              42            42            42                0.000000
6              27            27            27                0.100000
..            ...           ...           ...                     ...
486           216           216           216                0.300000
487             2             2             2                0.400000
489            15            15            15                0.000000
492       y = -2x       y = -2x       y = -2x                0.150000
496  \frac{5}{13}  \frac{5}{13}  \frac{5}{13}                0.100000

[288 rows x 4 columns]